.user-input{
    padding: 0.5em;
    font-size: 0.8rem;
    border-radius: 5px;
    border: 1px solid blue;
    margin: 0.5rem;
}
.user-input::selection{
    border: 1px solid blue;
}
.add-btn{
    background-color:var(--text-clr);
    border: none;
    padding: 0.5em;
    font-size: 1rem;
    border-radius: 5px;
    color: var(--primary-clr);
    border: 1px solid var(--primary-clr);
}
.add-btn:hover{
    background-color:var(--primary-clr);
    color: var(--text-clr);
    cursor: pointer;
}